.title {
    margin-top: 6vh;
    font-size: 5.1vh;
    font-family: "Inter";
}

.list-container {
    margin-top: 1vh;
	height: max-content;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 0.8vw;
    background: #5B0B3B87;
}

.list-container ul {
    margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.admin-list-unit {
    margin-top: 1vw;
    margin-bottom: 1vw;
    position: relative;
    width: max-content;
	flex: min-content 0;
    box-sizing: border-box;
    padding: 2vw;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 0.8vw;
}

.admin-list-unit h2 {
    margin: 0;
    font-size: 4vh;
    font-family: "Inter";
}

.admin-list-unit>h2 {
    margin-left: 1vw;
}

.admin-list-unit form {
    float: left;
    margin-top: 1vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.field {
    margin-top: 1vh;
    margin-bottom: 1vh;
    position: relative;
    flex: min-content 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5vh solid #B61676;
    box-sizing: border-box;
    background: none;
}

.field>div {
    position: relative;
}

.field-value {
    text-align: center;
}

.value-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: none;
    box-shadow: none;
    outline: none;
    visibility: hidden;
}

.image-icon {
    width: 5.79vh;
	height: 4.5vh;
    background: url(../../assets/image-icon.svg) 0 0 / 100% 100%;
}

.unit-image {
    height: 100%;
    border: 0.2vw solid black;
    box-sizing: border-box;
}

.admin-list-unit .edit-btn {
    position: absolute;
    right: -0.6vw;
    top: -0.6vw;
}
