* {
  font-family: "Montserrat";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.login-page { 
	overflow: hidden;
	background:#FFF3EB;
}

.homepage, .tours-admin, .stands-admin, .points-admin {
  background: url(./expo-background.jpg) 0 0 / cover;
}