* {
  font-weight: bolder;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 25.5vh 12.85vw 12.85vw 12.85vw;
	background:#FFF3EB;
  overflow: scroll;
}

.login-page {
  padding: 0;
  overflow: hidden;
}

section.homepage {
  background: url(./expo-background.jpg) 0 0 / cover;
}