.e1_3 { 
	overflow:hidden;
}
.e1_3 { 
	background-color:rgba(255, 243.00000071525574, 235.0000011920929, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e41_9 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 135.99996149539948, 50.99999696016312, 0.4399999976158142);
	width:496px;
	height:339px;
	position:absolute;
	left:137px;
	top:259px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
.e41_11 { 
	width:474px;
	height:315px;
	position:absolute;
	left:147px;
	top:271px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
	background-image:url(../assets/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e41_2 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.00000217556953, 11.000000294297934, 59.00000028312206, 1);
	width:1508.5px;
	height:270.76702880859375px;
	position:absolute;
	left:-33.5px;
	top:19.575439453125px;
}
.e41_3 { 
	background-color:rgba(182.00000435113907, 22.000000588595867, 118.00000056624413, 1);
	width:1506.6409912109375px;
	height:233.6133575439453px;
	position:absolute;
	left:-6.5px;
	top:0px;
}
.e41_6 { 
	color:rgba(255, 255, 255, 1);
	width:298px;
	height:83px;
	position:absolute;
	left:110px;
	top:18px;
	font-family:Montserrat;
	text-align:center;
	font-size:32px;
	letter-spacing:2.5;
}
.e41_7 { 
	color:rgba(255, 255, 255, 1);
	width:258px;
	height:83px;
	position:absolute;
	left:550px;
	top:10px;
	font-family:Montserrat;
	text-align:center;
	font-size:32px;
	letter-spacing:2.5;
}
.e41_8 { 
	color:rgba(255, 255, 255, 1);
	width:382px;
	height:83px;
	position:absolute;
	left:936px;
	top:10px;
	font-family:Montserrat;
	text-align:center;
	font-size:32px;
	letter-spacing:2.5;
}
.e42_7 { 
	background-color:rgba(255, 136.00000709295273, 51.00000075995922, 1);
	width:59px;
	height:59px;
	position:absolute;
	left:242px;
	top:623px;
}
.e42_5 { 
	border-radius:500px;
	background-color:rgba(255, 136.00000709295273, 51.00000075995922, 1);
	width:59px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
}
.e42_3 { 
	background-color:rgba(0, 0, 0, 1);
	width:38px;
	height:39px;
	position:absolute;
	left:11px;
	top:10px;
}
