.e1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 243.00000071525574, 235.0000011920929, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e36_3 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.00000217556953, 11.000000294297934, 59.00000028312206, 1);
	width:1534px;
	height:330.3281555175781px;
	position:absolute;
	left:-42px;
	top:-11px;
}
.e36_4 { 
	background-color:rgba(182.00000435113907, 22.000000588595867, 118.00000056624413, 1);
	width:1550.53759765625px;
	height:309.6944885253906px;
	position:absolute;
	left:-34px;
	top:-30.575439453125px;
}
.e40_11 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:472px;
	height:70.80000305175781px;
	position:absolute;
	left:484px;
	top:460px;
}
.e40_12 { 
	border:2px solid rgba(91.00000217556953, 11.000000294297934, 59.00000028312206, 1);
}
.e40_12 { 
	width:472px;
	height:70.80000305175781px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e40_13 { 
	color:rgba(91.00000217556953, 11.000000294297934, 59.00000028312206, 1);
	width:132.16000366210938px;
	height:31.46666717529297px;
	position:absolute;
	left:81px;
	top:25px;
	font-family:Montserrat;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e40_14 { 
	width:31.46666717529297px;
	height:31.46666717529297px;
	position:absolute;
	left:18.8799991607666px;
	top:20.453332901000977px;
}
.e40_15 { 
	border:1px solid rgba(91.00000217556953, 11.000000294297934, 59.00000028312206, 1);
}
.e40_15 { 
	width:20.97777557373047px;
	height:7.866666793823242px;
	position:absolute;
	left:5.244444847106934px;
	top:19.666667938232422px;
}
.e40_16 { 
	border:1px solid rgba(91.00000217556953, 11.000000294297934, 59.00000028312206, 1);
}
.e40_16 { 
	width:10.488889694213867px;
	height:10.488889694213867px;
	position:absolute;
	left:10.488889694213867px;
	top:3.933333396911621px;
}
.e40_17 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:472px;
	height:70.80000305175781px;
	position:absolute;
	left:484px;
	top:562.2666625976562px;
}
.e40_18 { 
	border:2px solid rgba(91.00000217556953, 11.000000294297934, 59.00000028312206, 1);
}
.e40_18 { 
	width:472px;
	height:70.80000305175781px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e40_19 { 
	color:rgba(91.00000217556953, 11.000000294297934, 59.00000028312206, 1);
	width:133.73333740234375px;
	height:31.46666717529297px;
	position:absolute;
	left:80px;
	top:26.73333740234375px;
	font-family:Montserrat;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e40_20 { 
	width:31.46666717529297px;
	height:31.46666717529297px;
	position:absolute;
	left:18.8799991607666px;
	top:20.453332901000977px;
}
.e40_21 { 
	border:1px solid rgba(91.00000217556953, 11.000000294297934, 59.00000028312206, 1);
}
.e40_21 { 
	width:23.600000381469727px;
	height:14.422223091125488px;
	position:absolute;
	left:3.933333396911621px;
	top:14.422223091125488px;
}
.e40_22 { 
	border:1px solid rgba(91.00000217556953, 11.000000294297934, 59.00000028312206, 1);
}
.e40_22 { 
	width:13.11111068725586px;
	height:11.800000190734863px;
	position:absolute;
	left:9.177777290344238px;
	top:2.622222423553467px;
}
.e40_23 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:472px;
	height:70.80000305175781px;
	position:absolute;
	left:484px;
	top:700.7200317382812px;
}
.e40_24 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.30000001192092896);
	background-color:rgba(182.00000435113907, 22.000000588595867, 118.00000056624413, 1);
	width:472px;
	height:70.80000305175781px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e40_25 { 
	color:rgba(255, 243.00000071525574, 235.0000011920929, 1);
	width:84.95999908447266px;
	height:31.46666717529297px;
	position:absolute;
	left:190px;
	top:25.27996826171875px;
	font-family:Montserrat;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e40_26 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(125.37500202655792, 108.65833103656769, 108.65833103656769, 1);
	width:230px;
	height:31px;
	position:absolute;
	left:726px;
	top:789.2933349609375px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e42_2 { 
	background-color:rgba(0, 0, 0, 0);
	width:56px;
	height:57px;
	position:absolute;
	left:1266px;
	top:495px;
}
