.header {
	margin: 0;
	width: 100vw;
	height: 31.2vh;
	background: url(../../assets/header.png) no-repeat 0 0 / 100% 100%;
	display: flow-root;
}

.title {
	width: 38.3vw;
	height: 17vh;
	margin-left: 34.3vh;
	margin-top: 6vh;
	background: url(../../assets/title.svg) no-repeat 0 0 / contain;
}

.form {
	margin: auto;
	margin-top: 10.6vh;
	width: 32.7vw;
	height: 37vh;
}

.form>* {
	width: 100%;
	height: 18.6%;
    outline: none;
    border: 1px solid #5B0B3B;
    box-sizing: border-box;
    box-shadow: 0 0 .3vh #5B0B3B;
    border-radius: .2vh;
    font-size: 1.95vh;
	font-family: "Montserrat";
}

.input[placeholder="USERNAME"] {
	padding-left: 7vh;
	background: url(../../assets/user-icon.svg) no-repeat 1.891vh 1.891vh / 3.1vh 3.1vh;
}

.input[placeholder="PASSWORD"] {
	margin-top: 3vh;
	padding-left: 7vh;
	background: url(../../assets/lock-icon.svg) no-repeat 1.891vh 1.891vh / 3.1vh 3.1vh;
}

.login {
	margin-top: 6.6vh;
    border-color: #B61676;
    background: #B61676;
    box-shadow: #B61676;
    color: white;
}

.form>.a {
	margin-top: 4vh;
	margin-right: 4vh;
	float: right;
	height: 1.56vh;
    border: none;
    box-shadow: none;
	font-size: 1.56vh;
    color: #7D6D6D;
}